<!DOCTYPE html>
<html>
<head>
<title>HUB</title>
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
</style>
</head>
<body id="main" style="background-color:pink;">

<div class="grid-container">
  <div class="grid-item" id="timer">Timer</div>
  <div class="grid-item"></div>
  <div class="grid-item" id="status">Pomodoro Status</div>
  <div class="grid-item" onclick="startPomodoro()">Start Pomodoro</div>
  <div class="grid-item" onclick="stopPomodoro()">Stop</div>
  <div class="grid-item" onclick="startBreak()">Break</div>
  <div class="grid-item" onclick="setGreen()">Available</div>
  <div class="grid-item" onclick="setBlue()" >Do Not Disturb</div>
  <div class="grid-item" onclick="setRed()">Out Of Office</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script>

var element = document.getElementById("main");
var socket = io();
var x;

function startPomodoro() {
  document.getElementById("status").innerHTML = "Pomo Mode";
  socket.emit("setBlue");
  startCountdown("pomodoro", 25);
}

function startBreak() {
  document.getElementById("status").innerHTML = "Break";
  setGreen();
  startCountdown("break", 5);
}

function addMinutesToDate(date, minutes) {
    return new Date(date.getTime() + minutes*60000);
}

function startCountdown(cType, minutes) {
  let countDownDate = addMinutesToDate(new Date(), minutes);

  x = setInterval(function() {
    let now = new Date();
    distance = countDownDate.getTime() - now.getTime();

    // let days = Math.floor(distance / (1000 * 60 * 60 * 24));
    // let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

    if (distance < 0) {
      clearInterval(x);
      if(cType === "pomodoro"){
        document.getElementById("timer").innerHTML = "EXPIRED";
        setGreen();
      } else{
        document.getElementById("timer").innerHTML = "EXPIRED";
        // socket.emit('setGreen');
      }
    }
  }, 1000);
}

function stopPomodoro() {
  clearInterval(x);
  document.getElementById("timer").innerHTML = "STOPPED";
  document.getElementById("status").innerHTML = "No Pomo";
}

function setBlue() {  
  element.style.backgroundColor = "blue";
  socket.emit('setBlue');
}
function setRed() {  
  element.style.backgroundColor = "red";
  socket.emit('setRed');
}
function setGreen() {  
  element.style.backgroundColor = "Green";
  socket.emit('setGreen');
}

socket.on('connect', () => {
  console.log('/hub connected');
});
socket.on('disconnect', () => {
  console.log('/hub disconnected');
});
</script>
</body>
</html>
